# Web Framework & Server
fastapi
uvicorn
pydantic

# Klien Database & Layanan Eksternal
supabase
google-api-python-client
google-auth-oauthlib

# Pemrosesan AI & NLP
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
dateparser

# Kerangka Kerja AI Agent (LLM)
langchain
langchain-google-genai

# Untuk Analisis File Universal
google-cloud-vision

# Utilitas
PyMuPDF
python-dotenv